extends layout 

block content 
    if(currentUser)
        h1.create-post-header Create Post 

        form.create-post-form(method="POST" action="")
            label.label(for="title") Title
            input#title(type="text" placeholder="Title" name="title" value=(post?post.title:"") required=true)
            label.label(for="message") Message:
            textarea#message(name="message", cols="30", placeholder="Enter your message here!" rows="10" value=(post?post.message:"") required=true )
            button.post-btn Submit
        if(errors)
            for error in errors
                |#{error.msg}

    else
        div.elsecontainer
            h1.please Please log in to create a post 
            a.redirect-login(href='/log-in') Log in!