
body,*{
  margin:0;
  padding:0;
 
}

a {
  color: #00B7FF;
}

/* NavBar */
.nav{
  display:flex;
  justify-content: space-between;
  background-color: rgb(40, 39, 39);
  color:white;
  
  padding:14px 30px 14px 30px;
  
  align-items: center;
  font-weight:bold;
  font-family: "Oswald",sans-serif;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.7);
}
.nav-heading{
  font-family: "Oswald",sans-serif;
  font-size:28px;
  font-weight:700;
  text-decoration: none;
  color:white;
}
.nav-heading:hover{
  transform: scale(0.98);
}

.nav>div{
  display:flex;
  gap:15px;
 
}

#home{
  font-size:22px;
}
.links{
  color:white;
  font-size:18px;
  display:flex;
  align-items: center;
  font-weight:bold;
  text-decoration: none;
  gap:2px;
  
  
}

.links>i{
  margin-top:2px;
}
.links>h2,.links>i{

  font-size: 18px;;
  font-weight:bold;
}
.links:hover>h2,.links:hover>i{
  transform: scale(0.98);
}




/* Home page */
main{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
main>h1{
  width:70%;
  padding: 0px 40px 0px 0px;
  font-family: "Oswald";
  margin-top:20px;
  font-size:28px; 
  color:rgb(200, 19, 19);
  text-align: center;
  
}
ul{
  text-decoration: none;
  list-style: none;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  gap:20px;
  padding-left: 0;
  padding-bottom:40px;
}
.post-container{
  border-radius:20px;
  padding:20px 20px 20px 30px;
  margin:0;
  width:70%;
  text-align: start;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}
.post-container:hover{
  transform:scale(0.998)
}
.post-container>h2{
  font-family:"Oswald",sans-serif;
  font-weight:700;
  font-size: 22px;
  padding-bottom:20px;
  color:rgb(200, 19, 19);
}
.post-container>p{
  font-size:17px;
  font-family: "Nunito",sans-serif;
  word-wrap: break-word;
}
.post-container>div{
  padding-top:20px;
  display:flex;
  justify-content: space-between;

}
.post-container>div>h3{
  font-family:"Nunito",sans-serif;
  font-weight:600;
  font-size:14px;
}
.post-container>div>p{
  font-family: "Nunito",sans-serif;
  font-size:14px;
  
  font-weight:600;
}
.note{
  font-size:12px;
  font-family:"Nunito",sans-serif;
 
}

/* Post Page */
.please{
  text-align: center;
  font-family: "Oswald",sans-serif;
  margin-top:100px;
  color:rgb(200, 19, 19);
}
.redirect-login{
  text-align: center;
  margin-top:50px;
  font-size:25px;
  font-family:"Nunito",sans-serif;
  
}
.create-post-header{
  font-family:"Oswald";
  font-size:24px;
  text-align: center;
  padding-top:30px;
  color:rgb(200, 19, 19);
}
.create-post-form{
  display:flex;
  flex-direction: column;
  padding:15px;
  

  align-items: center;
}
#title,#message{
  width:400px;
  padding:10px; 
  font-family: "Nunito",sans-serif;
}

.label{
  padding-top:5px;
  padding-bottom: 5px;
  font-family: "Oswald",sans-serif;
  font-size:18px;
  font-weight:bold;
  color:rgb(200, 19, 19);
}
.post-btn{
  padding:10px;
  width:200px;
  background-color:rgb(239, 19, 19);
  color:white;
  font-weight: bold;
  font-size:20px;
  margin-top:10px;
  border:none;
  border-radius: 8px;
}
.post-btn:hover{
  cursor: pointer;
  background-color: rgb(200, 19, 19);
}

/* sign up form */
#username,#password,#confirmPassword{
  width:400px;
  padding:10px; 
  font-family: "Nunito",sans-serif;
}
#confirmPassword{
  margin-top:10px;
}
.error-msg{
  margin-top:5px;
  color:red;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
}
.error{
  border: 1px solid red;
  box-shadow: 0px 0px 2px rgba(249, 2, 2, 0.7);
}
.elsecontainer{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  

}



/* log in form */
.log-in{
  margin-top:30px;
}
.sign-in-redirect{
  text-align: center;
  font-family:"Nunito",sans-serif;
  gap:2px;
}
.sign-in-redirect>a{
  margin-left:4px;
}

